@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}

.navbar {
  height: 50px;
  position: absolute;
  top: 0;
  width: 100%;
}

.navbar-links ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-gap: 100px;
}

li {
  text-decoration: none;
  list-style: none;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;  
}

li:hover {
  color: gray;
}